@import "tailwindcss";


::-webkit-scrollbar-thumb {
    background-color: #cba836;
    border-radius: 9999px;
    border: 2px solid transparent;
    /* prevents white outline */
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}

::-webkit-scrollbar-track {
    background: #2c5364;
}

html,
body {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}

::-webkit-scrollbar {
    width: 10px;

}

::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
}


::-webkit-scrollbar-thumb {
    background-color: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    border-radius: 10px;

}